---
layout: base
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <!-- Html Elements for Search -->
    <div id="search-container">
        <input class="form-control" type="search" id="search-input" onkeyup="mySearch()" placeholder="Search...">
        <ul id="results-container"></ul>
    </div>

    <script src="assets/js/search.js"></script>

    <table id="search-table" class="table table-hover">
        <tbody>

        {%- for song in site.rodex_oud -%}
        <tr scope="row" role="button" onclick="window.location='{{ song.url | relative_url }}';">
            <td>{{ song.title | escape }}</td>
            <td>{{ song.page }}</td>
        </tr>
        {%- endfor -%}

        </tbody>
    </table>



</div>
